[2019-07-22 15:24] tlhendri opened #1 "tactics not implemented in techniques"
This doesn't seem to work:
[code]
From usage examples https://pypi.org/project/pyattck/

Tactics also don't seem to be fully returned when using the tactic:
[code]
[code]

[2019-07-25 01:26] skyWalker1997 commented on #1
Same question, I read the technique.py in pyattck package and I found out something strange.

<img width="439" alt="image" src="https://user-images.githubusercontent.com/25174981/61838868-e07f4580-aebd-11e9-8db3-d2ffdb76ffb8.png">

`temp_list = phase['phase_name']` in def tactic(self, obj),line71  caused every technique reflected only one tactic rather than a list of tactic, which is incorrect.

[2019-07-25 02:16] skyWalker1997 commented on #1
With the question I mentioned above, the function '@property def tactic(self)'  also has a bug.
<img width="610" alt="image" src="https://user-images.githubusercontent.com/25174981/61840427-bc266780-aec3-11e9-8a30-c424884a15ba.png">
Attention line 50 to line 52
cause self._tactic return a list.Then ,you can't  compare a 'str(list).lower()' with a 'str().lower()'
It won't cause fault when a techniq

[2019-07-25 02:37] joshswimlane commented on #1
@tlhendri & @skyWalker1997 Can you please create an issue for each of these and I will make the appropriate changes.  Reading through this it looks like there are 3 or 4 issues here it would be easier to resolve each in their own individual issues.

I will be begin looking at these.  Thanks for bringing them up!

[2019-07-25 02:40] skyWalker1997 commented on #1
No problem

[2019-07-25 02:52] skyWalker1997 opened #2 "I found bug in technique.py line 71"
original  code in line 71
`temp_list = phase['phase_name']`

Because many att&ck techniques can be used in several phases of kill chain, so you should use  append for variable 'temp_list'

Code in line 71 should be changed to :
`temp_list.append(phase['phase_name'])`

[2019-07-25 03:06] skyWalker1997 opened #3 "I found bug in function def tactic(self) of technique.py"
#2
Because the  problem mentioned in #2 ,so function def tactic(self) in technique.py need be fixed too.
original code:
[code]

Since the attribute 'tactic' of technique is a list, so line 51 is comparing two string，a string type list and a string variable.Considering there are many techniques ,which are corresponding to several tactics, so you should traverse the list of self._tactic and compare

[2019-08-12 18:15] joshswimlane commented on #3
This should be fixed - pushing to pypi soon

[2019-08-12 18:15] #3 closed

[2019-08-12 18:15] joshswimlane commented on #2
This should be fixed - pushing to pypi soon

[2019-08-12 18:15] #2 closed

[2019-08-12 18:15] joshswimlane commented on #1
This should be fixed - pushing to pypi soon

[2019-08-12 18:15] #1 closed

[2019-10-02 16:49] joshswimlane opened #8 "Add the ability to retrieve Mitre APT3 Emulation Data for a technique"
Use the data from https://attack.mitre.org/docs/APT3_Adversary_Emulation_Field_Manual.xlsx to add into a technique the adversary emulation details for that technique

[2019-10-02 16:52] joshswimlane opened #9 "Add support for Mitre ATT&CK Mobile"
Add the ability to retrieve information from the Mitre ATT&CK Mobile defintions

https://raw.githubusercontent.com/mitre/cti/master/mobile-attack/mobile-attack.json

[2019-10-02 16:55] joshswimlane opened #10 "Add CAPEC functionality"
Add the ability to retrieve information from Mitre CAPEC for advisory information:

https://raw.githubusercontent.com/mitre/cti/master/capec/stix-capec.json

[2019-10-25 13:44] ehooo opened #13 "'NoneType' object is not subscriptable"
I found a wrong population on the `attck_obj` in tools objects.

The root cause is on [pyattck/tools.py:58](https://github.com/swimlane/pyattck/blob/master/pyattck/tools.py#L58)

* step to reproduce
[code]

Raise the following exception
[code]

[2019-10-26 14:26] ehooo opened #15 "Performance refactor"
Hello @joshswimlane
I was working on a [new refactor](https://github.com/ehooo/pyattck/tree/feature/memory_improvement) for improve the performance of pyattck.
I wanted to improve the memory usage, unfortunately it was not possible, but the time to parsing the file was huge improvement.

If you want i could create the pull request, it could be a new mayor version on the project.
Also i think it co

[2019-10-26 14:51] joshswimlane commented on #15
Awesome! I’ll have to look at this next week - I’m on vacation currently - but thanks!

[2019-10-26 15:03] joshswimlane opened #16 "Add ART yaml detections to outputs"
Add the detections / invocations used by ART into potential “detections”

[2019-10-26 15:03] joshswimlane opened #17 "Add Caldera outputs"
Add caldera outputs as potential detections for a technique

[2019-11-01 18:43] joshswimlane opened #18 "Add osquery-attck to dataset generator"
https://github.com/teoseller/osquery-attck

[2019-11-01 18:44] joshswimlane opened #19 "Create CI/CD pipeline to generate a correlated dataset"
Create a CI/CD pipeline that will gather and correlate multiple datasets into one which will then be committed to this repository.  Pyattck will download this pre-correlated/filtered dataset to use in retrieval of common attack data.

[2019-11-08 11:08] ehooo commented on #15
Have you time to make a look? let me know to create the pull request if you cant.

[2019-11-12 14:56] joshswimlane commented on #15
Hey @ehooo I have not yet, but I will do so this week.  I would go ahead and make a pull request, which will be easier to review anyways.  Thanks!

[2019-12-11 19:48] ehooo commented on #15
@joshswimlane did you have time for see it?
I think is better see directly in the code better than the diffing.

[2019-12-23 13:35] le0li9ht opened #21 "Pyattack not collecting Newly updated data"
For example when i'm trying to get the APT16 and APT17 cells i'm getting empty data.
![Screenshot from 2019-12-23 19-04-40](https://user-images.githubusercontent.com/34128579/71360855-29474180-25b7-11ea-8e6b-985430aeb010.png)

[2020-01-03 09:46] ehooo commented on #15
@joshswimlane now the PR is failing cause `KeyError: 'GH_TOKEN'` do you know how could i fix it?
I just update the PR branch

[2020-02-19 16:42] #19 closed

[2020-04-20 11:37] daniberh commented on #21
I think this is because APT16 and APT17 only have PRE-ATT&CK techniques and not enterprise techniques.

https://attack.mitre.org/groups/G0023/
https://attack.mitre.org/groups/G0025/

[2020-04-23 13:49] nbyt3 opened #26 "Exception loading attack = Attck()"
When trying to instantiate Attck() i am receiving the following errror:

Traceback (most recent call last):
  File "ingest.py", line 412, in <module>
    attack = Attck()
  File "pyattck.py", line 20, in __init__
    self.attck = __MITRE_ATTCK_JSON_URL__
  File "\venv\lib\site-packages\pyattck\pyattck.py", line 36, in attck
    self._attck = requests.get(value).json()
  File "venv\lib\site-package

[2020-04-24 02:30] joshswimlane commented on #26
@nbyt3 Can you provide the version of pyattck you are running and tell me if you can reach this URL on the same system you ran into this issue from? ```https://raw.githubusercontent.com/mitre/cti/master/enterprise-attack/enterprise-attack.json```

This looks to be an network issue from the provided error.

[2020-04-24 02:31] joshswimlane commented on #21
You are correct @daniberh - closing this out.

[2020-04-24 02:31] #21 closed

[2020-04-24 02:31] #13 closed

[2020-04-24 02:32] joshswimlane commented on #15
This has been resolved.  If the issue persists please open a new issue.

[2020-04-24 02:32] #15 closed

[2020-04-24 02:32] #16 closed

[2020-04-24 02:33] joshswimlane commented on #18
This is now included into pyattck

[2020-04-24 02:33] #18 closed

[2020-04-24 02:33] #10 closed

[2020-04-24 02:34] #17 closed

[2020-04-24 02:34] #8 closed

[2020-04-30 03:26] #9 closed

[2020-05-14 03:12] joshswimlane commented on #26
I'm going to close this out @nbyt3 .  Please upgrade to the latest version.  Thanks!

[2020-05-14 03:12] #26 closed

[2020-05-15 04:03] joshswimlane opened #33 "Update documentation to focus on contextual data"
Per comment on Reddit, main documentation should focus more on the contextual data aspect instead of strictly MITRE ATT&CK access/data.

[2020-05-15 19:59] jbrodersen opened #35 "Update pendulum >= 1.2.3"
Current is hardcoded to 2.0.5

[2020-05-15 20:24] #35 closed

[2020-05-19 10:51] BigLeagueChew opened #37 "Malware Technique relationship is linked to Actors"
Hello,

I believe the techniques() method on a AttckMalware class is incorrectly linked to Actor information instead of a Technique. I believe line 112 on malware.py needs to be changed to 'attack-pattern'.
See example below which prints Actor names instead of Technique names.

[code]

[2020-05-19 13:39] joshswimlane commented on #37
Thanks! You are correct and I will get this updated today (as well as review the other relationships). Much appreciated!

[2020-05-19 17:23] BigLeagueChew commented on #37
Thanks Josh.

I might have come across another relationship issue. I'm seeing PreAttckActor class returning what looks like Mitre software "S000" for the IDs. Thoughts?

[code]

[2020-05-19 21:18] joshswimlane opened #38 "Fixed relationship links in preattack"
Thanks Josh.

I might have come across another relationship issue. I'm seeing PreAttckActor class returning what looks like Mitre software "S000" for the IDs. Thoughts?

[code]

_Originally posted by @BigLeagueChew in https://github.com/swimlane/pyattck/issues/37#issuecomment-630963281_

[2020-05-20 03:53] #37 closed

[2020-05-20 03:56] joshswimlane commented on #38
This is has been resolved in version 2.0.5.

[2020-05-20 03:56] #38 closed

[2020-05-20 06:44] Neo23x0 opened #40 "Did you really update the object's structure in bugfix version release?"
Using 2.0.4
[code]
I have no errors.

Using 2.0.5
[code]
i suddenly get:
[code]

Did you really change the object's structure from 2.0.4 to 2.0.5?
Could you please introduce breaking changes in major (X.0.0) or at least feature (0.X.0) releases only?

[2020-05-20 14:02] joshswimlane commented on #40
@Neo23x0 this update modified the property name of “aliases” to “alias”. MITRE has both (now) Json keys of “x_mitre_aliases” and “alias” so combined them into one property.

Going forward I’ll make this adjustment if properties are modified, changed, or removed.

[2020-05-20 18:02] #40 closed

[2020-08-11 13:57] nbyt3 opened #42 "Traceback when calling actors from attack.techniques"
Pyattck v2.0.5

[code]

results in:
'Traceback (most recent call last):\n  File "c:\\Users\\.vscode\\extensions\\ms-python.python-2020.7.96456\\pythonFiles\\lib\\python\\debugpy\\_vendored\\pydevd\\_pydevd_bundle\\pydevd_resolver.py", line 193, in _get_py_dictionary\n    attr = getattr(var, name)\n  File "C:\\Users\\Documents\\Projects\\feeds\\venv\\lib\\site-packages\\pyattck\\enterprise\\techniq

[2020-08-13 16:24] nebriv opened #43 "Missing Mitigations?"
Hey There!

I'm not sure if I'm doing something wrong, or if maybe something is broken... I don't seem to be able to get any mitigations per the examples from the enterprise class. I tried both from PyPI and from installation from source with the same result.

https://github.com/swimlane/pyattck/blob/master/docs/enterprise/enterprise.md

This is the code I'm using (effectively just copied from the

[2020-08-25 00:34] machevalia commented on #43
@nebriv I'm having the same issue. Did you figure anything out?

[2020-08-25 03:01] joshswimlane commented on #43
@nebriv sorry for the late response - I was able to identify the issue this evening and will get a fix posted soon. I need to triple check and expand some tests before bumping the minor version.  Thanks for reaching out and for pointing this out!

[2020-08-25 03:05] joshswimlane commented on #42
@nbyt3 Thanks for posting this.  This is actually not a bug but I see why you would think it is.  Currently pyattck only supports defined relationships by Mitre and does not assume further relationships.  These relationships are typically 2 layers deep.

But, What I'm going to do is make this as a feature request and will work on this as time permits. Thanks again!

[2020-08-27 00:05] nebriv commented on #43
@joshswimlane hey awesome! Thanks!!

[2020-08-29 03:54] joshswimlane commented on #43
@nebriv if you’re interested you can check out this PR - I have a few more comments to get codadcy to not fail but all other tests are passing! Once I get those committed then I’ll merge and upload to pypi.

https://github.com/swimlane/pyattck/pull/28

[2020-09-01 21:40] joshswimlane commented on #43
This has been merged and added to pypi!

[2020-09-01 21:40] #43 closed

[2020-09-01 21:46] nebriv commented on #43
Thanks @joshswimlane I'll update and give it a whirl!

[2020-10-15 16:23] Wapiti08 opened #44 "Error for no module name PIL"
[code]
I have installed all the dependencies. But I still have a problem.

My python version is 3.8.1. The pyattck version is 2.1.0

[2020-10-15 16:37] Wapiti08 commented on #44
I solved the problem:

[code]

[2020-10-15 16:37] #44 closed

[2020-12-03 18:21] jmeachum opened #47 "2.1.2 python 2 package from PyPi is different from repository"
I've attached the datasets.py file from the python2 package on pypi. Line 83 and 84 appear to be different than what is in git. There is a print statement that dumps the cached data to screen followed by an input('press') statement. This is causing the generated_attck_data function to hang waiting for input.
[datasets.txt](https://github.com/swimlane/pyattck/files/5638149/datasets.txt)

[2020-12-07 17:53] nbyt3 commented on #47
I am seeing the same issue. I pip installed pyattck and ran the following code:

[code]

I'm getting a dump of the cached data causing memory issues:

[code]

[2020-12-11 09:41] doomedraven commented on #47
hello, there is another problem also in the pip package, you left "print()' and 'input(press)' that breaks everything and make all tools stuck where pyattck is integrated as library, but that isn't present on github, see last lines

[code]

[2020-12-14 00:32] joshswimlane commented on #47
My apologies to everyone experiencing issues. I will get this resolved this evening.

Thanks!

[2020-12-14 05:14] doomedraven commented on #47
Thank you

El lun., 14 dic. 2020 1:32, Josh Rickard <notifications@github.com>
escribió:

[2020-12-14 05:16] joshswimlane commented on #47
NP!  Again, my apologies.

[2020-12-14 05:16] #47 closed

[2021-01-15 22:13] joshswimlane opened #50 "Add data from macOS-ATTACK-DATASET"
https://github.com/sbousseaden/macOS-ATTACK-DATASET

[2021-02-02 18:08] TiiTcHY opened #51 "Cant pull Tools from Techniques"
I am trying to extract techniques, sub techniques, tactics, actors and tools/software:

for technique in attack.enterprise.techniques:
    print(technique.id)
    print(technique.name)
    # you can also access generated data sets on aa technique
    print(technique.command_list)
    print(technique.commands)
    print(technique.queries)
    print(technique.datasets)
    print(technique.possible_d

[2021-02-02 20:28] joshswimlane commented on #51
Hello @TiiTcHY so thanks for pointing this out and I found a bug that I have fixed and will push a new version out soon.  This is going to be part of the next major release which is 3.0.0.

The pull request is this one:

#49

Once that is distributable then you should be able to generate the desired CSV using this code.

[code]

Sorry you ran into issues and I'm actively working on resolving this

[2021-02-02 23:03] TiiTcHY commented on #51
Amazing, thank you for sorting this out. Do you know when 3.0 will be released so I can pull this data? Thanks again

Kind Regards,

Daniel Whitcombe

________________________________
From: Josh Rickard <notifications@github.com>
Sent: Tuesday, February 2, 2021 8:28:37 PM
To: swimlane/pyattck <pyattck@noreply.github.com>
Cc: TiiTcHY <daniel.whitcombe@hotmail.co.uk>; Mention <mention@noreply.github

[2021-02-03 10:01] TiiTcHY commented on #51
I have been trying the code that you kindly supplied to extract the data that i need (Thanks again) However, it appears to pull duplicates for the subtechnique multiple times?
![Capture](https://user-images.githubusercontent.com/43418761/106730919-cd971680-6606-11eb-8db5-ba0b71f9bbb0.PNG)

[2021-04-20 08:34] Mars-Lourd commented on #42
Hello,
I wanted to know if you had corrected this problem?
I have the same problem and I would like to know if it's now possible to go further than 2 layers?
Thanks a lot !

[2021-04-20 14:26] MSAdministrator commented on #42
Hey @Mars-Lourd I have an active pull request #49 that I believe will resolve this issue.  I'll try and get it published today.

[2021-04-20 14:32] MSAdministrator opened #53 "Add RedTeam Tactics & Techniques to external data sources"
https://github.com/mantvydasb/RedTeam-Tactics-and-Techniques

[2021-04-20 15:02] MSAdministrator commented on #51
@TiiTcHY this has been fixed in pyattck 3.0.0 #49

[2021-04-20 15:02] #51 closed

[2021-04-20 15:03] #42 closed

[2021-04-20 15:23] TiiTcHY opened #54 "Pyattck json.decoder.JSONDecodeError"
When ever I try to run anything after re-installing 3.0.0 of pyattck i'm getting the following error:

for technique in attack.enterprise.techniques:

error - json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)

[2021-04-20 15:33] MSAdministrator commented on #54
Yeah @TiiTcHY I just pushed a new updated version of the generated_attck_data.json - please remove the `pyattck` folder in your ~/ user directory.  Then re-run and it should be resolved.  My merge got messed up for some reason.

[2021-04-20 15:37] MSAdministrator commented on #54
@TiiTcHY actually just found a bug - basically the issue is that I move to git-lfs so the download of external data is having issues - I know a fix and will push that soon.

[2021-04-20 16:09] MSAdministrator commented on #54
@TiiTcHY Please remove the current version and install pyattck==3.0.1 (make sure to remove the pyattck folder containing your config in your user directory.

[2021-04-20 16:09] #54 closed

[2021-04-23 00:40] jmeachum opened #56 "2.1.0 and 2.1.3 return ValueError: No JSON object could be decoded."
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\dev\swimlane_4_1_env\lib\site-packages\pyattck\attck.py", line 365, in update
    self.__load_data(force=True)
  File "C:\dev\swimlane_4_1_env\lib\site-packages\pyattck\attck.py", line 379, in __load_data
    Attck.__ENTERPRISE_GENERATED_DATA_JSON = self.__datasets.generated_attck_data(force=force)
  File "C:\dev\s

[2021-04-23 01:02] MSAdministrator commented on #56
Please upgrade to the latest if possible:

pip install pyattck—upgrade

if not then I will attempt to resolve this but upgrading is the best option.

[2021-04-23 01:42] jmeachum commented on #56
Yes I confirmed it gets past that but the breaking changes in 3.0 will require refactoring quite a bit of code to get back to working state. It would be great to have had tests for this against 2.x code base, or some form of backwards compatibility.

[2021-04-23 02:09] MSAdministrator commented on #56
The reason was that the external data was getting too large so I had to switch to git-lfs which means a different url format/path. It was unexpected but needed to happen. I’ll push some new files but I’m not sure how much longer they will be available. I’ll try and get this done tonight or tomorrow morning. Apologies for any interruptions.

[2021-04-23 02:15] jmeachum commented on #56
Thanks for the explanation and appreciate the response. We happen to have built this into a production SL app so I'll need to work on getting cutover to the latest version.

[2021-04-23 02:35] MSAdministrator commented on #56
No problem and sorry for any troubles.  A quick fix to get up and running is doing something like this to set the value to the new URL (this is for the generated data):

[code]

[2021-04-23 02:38] MSAdministrator commented on #56
@jmeachum are you using this as part of the Swimlane plugin or stand-alone (e.g. python task)?  If you need help either way I'll try and do my best to facilitate/assist.

[2021-04-23 03:10] jmeachum commented on #56
@MSAdministrator - A couple of stand-alone tasks. We are using it for tagging alerts against the framework and use it for contextual data. I should be able to get us current with 3.0.1 but concerned when this will break our prod application that uses it.

[2021-04-23 04:38] MSAdministrator commented on #56
Is there functionality that has changed ? I’m curious if I can provide a fix without breaking it - just upgrading versions.

[2021-04-23 04:54] MSAdministrator commented on #56
As a side note I would love to see how you’re using it in production sometime.

[2021-04-23 12:38] jmeachum commented on #56
For what we are using it for right now, no I don't think there is any functionality that has been broken. It's a matter of refactoring the code to pull the data we need. It's actually a fairly basic use case at this time but has potential to be used in more depth later on. I'd be happy to explain more about how we are using it. I'd prefer to have that communication via email however. Mind sending

[2021-04-29 06:25] jmeachum commented on #56
So the refactoring was minor on the code side.....the tests were a little more involved. I did write a test to help identify the issue identified however I found some odd behavior between tests, which looks to be related to the use of class variables. When a test instantiates an Attck() class the class variables are None as expected. And when the enterprise property is accessed the data is loaded

[2021-04-29 14:45] MSAdministrator commented on #56
@jmeachum thanks for this!  Yes, please create a separate issue and I will take a look at this.  Thanks for point it out and you are correct these probably should be instance variables instead of class variables. Originally I choose class variables so that loading of the data would happen once instead of continually loading from disk but this is less of a concern now that Enterprise, Mobile, etc.

[2021-05-05 13:01] joeavanzato opened #60 "Certificate Verification Issues when using behind Proxy / Local Source Data"
Hi team,

I am experiencing SSL Verify issues (seen below) when trying to utilize pyattck module behind a proxy due to the requests library attempting and failing (appropriately so) due to the proxy MitM all of my network traffic.

I have two suggestions on that would let me and other users in similar situations fix this without having to make permanent modifications to various pieces of our OS, r

[2021-05-05 18:47] joeavanzato commented on #60
I'm going to close this as I did not realize that you could instantiate the Attck object with a configuration that allowed you to specify local files - I apologize. RTFM

[2021-05-05 18:47] #60 closed

[2021-05-06 01:45] MSAdministrator opened #61 "Add Proxy support for all network communications"

[2021-05-06 01:46] MSAdministrator opened #62 "Add better management of remote and local external data files"

[2021-05-15 02:43] MSAdministrator commented on #56
@jmeachum unrelated (kind of) to this but I’m refactoring pyattck’s handling of external data (e.g. enterprise ATT&CK Json, contextual data Json, etc.) and I’m allowing the user to set these paths to either a URL or a local file path when they instantiate the Attck class. Additionally they can pass in a config file like they can now.

Does this sound useful? (Also adding proxy support).

[2021-05-24 15:39] jmeachum commented on #56
@MSAdministrator - Sorry for the late reply. I've used data_path to do just that, specify a different path on instantiation. I actually use it in a test though to confirm the files are pulled on instantiation by checking that path afterwards. The suggestion on providing a url, I think it could be useful.

Regarding proxy support, if the verify property of requests could be set, that would help for

[2021-05-24 15:40] jmeachum opened #63 "Add ability to set refresh time of data files."
Currently the data files are evaluated and refreshed when they are older than 30 days. I would be great if that was an option that users could override in both the instantiation of the Attck class as well as in the config file.

[2021-05-24 15:47] jmeachum opened #64 "Convert class variables to instance variables."
When writing tests for the Attck class the class variables must be reset to None so that certain test which require them to be that way will pass. To reproduce the issue you can use the following test. If they are converted to instance vars the below test should fail.
[code]

[2021-05-24 16:56] TiiTcHY opened #65 "Cannot extract DataSource's"
I am trying to pull the DataSources for the techniques but I keep getting the follow error:

AttributeError: 'AttckTechnique' object has no attribute 'data_source'

[2021-05-25 21:26] MSAdministrator commented on #65
@TiiTcHY Can you please tell me which version of `pyattck` you are using that is causing this error?  Also which operating system are you using it on.

Thanks,

[2021-05-26 07:51] TiiTcHY commented on #65
I am using it on Windows 10 and the version is pyattck 3.0.1

[2021-05-27 15:58] jbraswell opened #66 "When resolving git-lfs references, json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)"
We are unable to access `attck.enterprise.actors`, `attck.enterprise.techniques`, etc because the code is downloading a json file that is actually a git-lfs reference and not valid json.

It fails when parsing the output of `https://github.com/swimlane/pyattck/blob/master/attck_to_nist_controls.json?raw=True`.

We are using version 3.0.1.

Reproduction below:

[code]

[2021-06-03 04:57] MSAdministrator commented on #66
I’m working on a fix for this right now. I should have 3.0.2 out tomorrow sometime.

[2021-06-03 17:50] MSAdministrator commented on #66
@jbraswell Can you try this when instantiating the Attck class:

[code]

This is a workaround for the time being.

[2021-06-04 02:42] jbraswell commented on #66
This workaround worked for me. Thank you!

[2021-06-25 02:15] amirjalali65 commented on #66
Any update on this issue? The workaround didn't work for me!
[code]

[2021-06-25 14:54] MSAdministrator commented on #66
@amirjalali65 When did you try last?  We ran into a storage issue but this has been resolved for now.

[2021-06-25 16:56] amirjalali65 commented on #66
@MSAdministrator I just tried it and got the same error. Am I setting the path correctly?
[code]

[2021-06-25 17:01] MSAdministrator commented on #66
Yeah looks correct - which version are you using and what OS?

[2021-06-25 17:37] amirjalali65 commented on #66
I was using `3.0.0`, bumping to `3.0.1` fixed the issue. Thanks

[2021-06-25 17:38] MSAdministrator commented on #66
@amirjalali65 @jbraswell Please checkout the new release which resolves this issue and adds much better handling of configuration going forward.

[code]

[2021-06-25 17:39] MSAdministrator commented on #65
@TiiTcHY  Please checkout the new release which resolves this issue and adds much better handling of configuration going forward.

[code]

[2021-06-25 17:39] #65 closed

[2021-06-25 17:39] #66 closed

[2021-06-25 17:40] MSAdministrator commented on #64
@jmeachum   Please checkout the new release which resolves this issue and adds much better handling of configuration going forward.

[code]

[2021-06-25 17:40] #64 closed

[2021-06-25 17:40] MSAdministrator commented on #63
@jmeachum   Please checkout the new release which resolves this issue and adds much better handling of configuration going forward.

[code]

[2021-06-25 17:40] #63 closed

[2021-06-25 17:41] MSAdministrator commented on #56
@jmeachum   Please checkout the new release which resolves this issue and adds much better handling of configuration going forward.

[code]

[2021-06-25 17:41] #56 closed

[2021-06-25 17:44] #61 closed

[2021-06-25 17:44] #62 closed

[2021-06-29 08:54] liavst2 opened #70 "Enterprise data is same as mobile data in latest version 4.0.1"
Upgraded to the latest 4.0.1.
The following code passes for `malwares`, `actors`, `mitigation`, `tools`, and `tactics`. Seems like the data is completely identical except for `techniques`.

![Screenshot from 2021-06-29 11-50-01](https://user-images.githubusercontent.com/18532875/123768077-b10abc00-d8d0-11eb-90f3-1d20da74faf1.png)

Did not occur in v3.0.1.

[2021-06-29 09:28] liavst2 commented on #70
Fixed in https://github.com/swimlane/pyattck/pull/71.

[2021-07-02 15:16] MSAdministrator commented on #70
This is resolved.

[2021-07-02 15:16] #70 closed

[2021-07-21 03:29] xakepnz opened #74 "Downloading fresh JSON (update) loops unnecessarily?"
I want to utilise local config as much as I can, to help with speed. When you had the .update() method I would utilise that. Now with the latest update, I need to build my own "update function" to overwrite the existing config, and any normal call, would just use the local json.

I've tried updating as below (fresh virtualenv) using pyattck-4.0.3 on Python 3.9.2 from pip:

[code]

Only now begins

[2021-07-22 23:47] MSAdministrator commented on #74
@xakepnz interesting and thanks for reporting this! I’ll take a look at why it’s downloading multiple times - it shouldn’t be.

As far as the update functionality, I can definitely add that back in. Please create another issue for that and I’ll add it in the next release.

[2021-07-25 00:04] xakepnz opened #75 "Add a manual update method to download fresh JSON"

[2021-07-27 17:21] MSAdministrator commented on #74
@xakepnz I believe I have a fix for this and should be pushing a change soon.

[2021-08-11 21:38] amirjalali65 opened #77 "JSONDecodeError with pyattck version 4.0.0 and 4.0.1"
Hi,

Started getting `JSONDecodeError` in version `4.0.0` and `4.0.1`:
[code]

[2021-08-11 22:26] lime2992 commented on #77
Same issue here. No idea why since the last change was a few weeks ago. It started yesterday for me.

[2021-08-11 22:36] MSAdministrator commented on #77
I just looked at the reference NIST control JSON is gone https://raw.githubusercontent.com/center-for-threat-informed-defense/attack-control-framework-mappings/master/frameworks/nist800-53-r4/stix/nist800-53-r4-controls.json

I’ll try and see why later this evening - currently AFK

[2021-08-11 23:38] lime2992 commented on #77
All

just a new directory.

just used this config, key difference is the nist_controls_json. Also note r5 is released.

attack =  Attck(
    nested_subtechniques=True,
    save_config=False,
    config_file_path='../pyattckEnv/lib/python3.9/site-packages/pyattck/my_configuration.py',
    data_path='~/pyattckEnv/lib/python3.9/site-packages/pyattck/data',
    enterprise_attck_json="https://raw.githu

[2021-08-12 01:12] MSAdministrator commented on #77
Awesome! Thanks @lime2992 ! I’ll push an update and see / test if we can upgrade to r5 as well. Thanks for the help all!

[2021-08-12 15:09] #74 closed

[2021-08-12 15:09] #75 closed

[2021-08-12 15:13] #77 closed

[2021-08-19 15:11] MSAdministrator commented on #53
Closing this and moving this issue to the pyattck-data repo: https://github.com/swimlane/pyattck-data/issues/2

[2021-08-19 15:11] #53 closed

[2021-08-19 15:12] MSAdministrator commented on #50
Closing this issue and moving it to the pyattck-data repo: https://github.com/swimlane/pyattck-data/issues/3

[2021-08-19 15:12] #50 closed

[2021-08-19 15:12] MSAdministrator commented on #33
Closing this

[2021-08-19 15:12] #33 closed

[2021-11-10 16:55] nikhilh-20 opened #80 "Unnecessary pinned versions in install_requires and insecure Pillow version"
**Is your feature request related to a problem? Please describe.**

While using `pyattck`, I noticed that the `install_requires` points to the requirements file having pinned library versions. This is a departure from best practice. Refer to https://packaging.python.org/discussions/install-requires-vs-requirements/

[code]

The current pinned version of Pillow==8.2.0 has several vulnerabilities wh

[2022-01-10 19:33] #80 closed

[2022-01-11 15:31] nbyt3 opened #82 "KeyError on Nist Controls JSON Load"
I'm running into an issue running Pyattck==5.0.0 on python3.8.

I'm instantiating pyattck and loading just the enterprise JSON v8.2 and am receiving errors against the nist_controls_json object.

[code]

[code]

[2022-01-11 16:45] TheComputerDan commented on #82
While not an extensive review, a temporary solution seems to be to remove `['objects']` from line 17 in attackobject.py and from line 273 in enterprise.py.

So far this has allowed me to use the enterprise property again. However, I am not yet sure what the long-term effect of this removal could cause.

[2022-01-11 17:09] MSAdministrator commented on #82
Thanks for this @TheComputerDan . Just noticed that they changed the URL path (again - argggg!) so I'll add some logic in to fail gracefully if this happens again.

Sorry about that.

They changed the path to https://raw.githubusercontent.com/center-for-threat-informed-defense/attack-control-framework-mappings/main/frameworks/attack_10_1/nist800_53_r4/stix/nist800-53-r4-controls.json FYI

[2022-01-11 17:58] #82 closed

[2022-01-12 12:57] Neo23x0 opened #84 "Errors with 5.1.1"
Since this morning I get this. I noticed that the changlog shows that a new version has been released yesterday.
[code]

[2022-01-12 15:00] Neo23x0 opened #85 "Pillow requirement (Python Imaging Library)"
I noticed that builds on my build systems failed due to a missing `libjpeg-dev` that is required by `Pillow` `9.0.0` that is used in your project.

Could you explain why pyattck requires an imaging library?
I can't find any hints in the source code.

[2022-01-12 15:18] MSAdministrator commented on #85
Hey @Neo23x0 it is used to generate ascii art for logos on Actors. Really it was a “why not” feature and I plan on removing it in the next release anyways.

[2022-01-12 15:38] Neo23x0 commented on #85
Okay, thanks. Yes, please, every import comes with dependencies that sometimes break things.

[2022-01-12 15:38] #85 closed

[2022-01-13 15:11] MSAdministrator opened #86 "Remove Pillow as Dependency"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-13 16:43] #86 closed

[2022-01-18 02:20] jbraswell opened #88 "Default nist_controls_json URL has moved"
**Describe the bug**
Default nist_controls_json URL has moved.

**To Reproduce**
[code]

Returns...

[code]

[2022-01-18 02:35] jbraswell commented on #88
I should've tried upgrading first, apologies 😆

[2022-01-18 02:35] #88 closed

[2022-01-31 13:41] mbeanii opened #91 "nist_controls_json bug"
Encountering this error when using the pyattck library:

"Traceback (most recent call last):\n  File \"/app/Tasks/PythonQueue/aG_PWoywMX_NxMO7A/script.F0376B4DD8665F94DEDBE64EFC7BA36AE4B391493343E086DE7B74505FB2AA1D.py\", line 77, in <module>\n    for technique in attack.enterprise.techniques:\n  File \"/home/swimlane/.pyenv/versions/3.6.11/lib/python3.6/site-packages/pyattck/attck.py\", line 263,

[2022-01-31 14:36] MSAdministrator commented on #91
@mbeanii this was fixed in the latest version. Can you upgrade and see if the issues goes away?

In summary, MITRE moved the location of their NIST Json causing it to fail.

[2022-02-02 15:50] aacienfuegos opened #92 "Get tools directly from a technique"
I'm trying to get the tools used for a specific technique and I see that the Technique object doesn't have a property with the tools.

Although the opposite is availible (getting the techniques related to a specific tool), I would like to get the tools from the technique itself, just like it's done with Actors, Mitigations, etc. I've tried to add a new propperty to technique.py and it seems to wor

[2022-02-02 15:57] MSAdministrator commented on #92
@aacienfuegos I’ll get this incorporated into the next release.

[2022-02-02 15:57] aacienfuegos commented on #92
Awesome! Thank you.

[2022-02-10 22:15] mcarpenter opened #93 "Bad paths to constructor do not raise error"
**Describe the bug**
If a caller gives an incorrect JSON file path to the `Attck` constructor then this is silently ignored. This will likely lead to later runtime exceptions that are hard to diagnose.

**To Reproduce**
`err.py`:
[code]

Running this produces error at the _last_ line:
[code]

**Expected behavior**
The standard exception `FileNotFoundError` should be propagated from the call to `op

[2022-02-11 07:04] mcarpenter commented on #93
Small PR attached for this one file issue. I lost a couple of hours to this (path with dash instead of underscore, arg!).

There are many other occurrences of `except: pass` or `except: return None` throughout the project. Almost all of those could/should be improved. I don't have the context for the original author's decision so difficult to say what they were expecting might fail. Example from `

[2022-02-11 16:28] MSAdministrator commented on #91
This was fixed in 5.1.1

[2022-02-14 20:01] #92 closed

[2022-02-14 20:03] MSAdministrator opened #96 "Update Try except statements throughout project"
Small PR attached for this one file issue. I lost a couple of hours to this (path with dash instead of underscore, arg!).

There are many other occurrences of `except: pass` or `except: return None` throughout the project. Almost all of those could/should be improved. I don't have the context for the original author's decision so difficult to say what they were expecting might fail. Example from `

[2022-02-14 20:05] #93 closed

[2022-02-14 21:31] mcarpenter commented on #93
Thanks!

[2022-02-23 12:05] aacienfuegos opened #97 "Deprecated attribute accessible in all objects"
I want to see if the AttckObject is deprecated, at the moment this is only possible with techniques. I would like to do the same with the other objects.

Just like it's done with techniques, you would access the "deprecated" attribute. I beleive this can be done with the x_mitre_deprecated attribute in the JSON files.

I think this attribute is relevant for any type of AttckObject, but if not, it

[2022-02-24 22:38] aacienfuegos opened #98 "Technique objects missing Malwares property"
**Describe the bug**
Malwares cannot be accessed from a technique. The malwares property is not created in techniques.

**To reproduce**
Access malware from a technique (this example is taken from the actual [AttckTechnique](https://github.com/swimlane/pyattck/blob/master/pyattck/enterprise/technique.py)   class description):
[code]

**Expected behavior**
You should get the name of the technique f

[2022-04-04 16:25] TiiTcHY opened #104 "JSONDecodeError: Expecting value: line 1 column 1"
when running the module i get the following error JSONDecodeError: Expecting value: line 1 column 1 when getting data from app.eu.elastica.net when running 5.3.0

i am running the following:

from pyattck import Attck

attack = Attck()

for technique in attack.enterprise.techniques:
    print(technique.id)
    print(technique.name)
    for subtechnique in technique.subtechniques:
        print(sub

[2022-04-04 19:40] MSAdministrator commented on #97
This has been implemented in #102

[2022-04-04 19:40] #97 closed

[2022-04-04 19:40] MSAdministrator commented on #98
This has been implemented in #102

[2022-04-04 19:40] #98 closed

[2022-04-04 19:41] MSAdministrator commented on #104
@TiiTcHY I am unable to reproduce this issue - can you explain what you mean by

```when getting data from app.eu.elastica.net```

I'm not sure I'm following.

[2022-04-04 19:46] TiiTcHY commented on #104
Hello, sorry I think that was an error on my part as that is is what comes up for the SSL Cert things. But for some reason I'm getting the Json Errors

[2022-04-05 08:09] TiiTcHY commented on #104
Traceback (most recent call last):
  File "script.py", line 22, in <module>
    for technique in attck.enterprise.techniques:
  File "blah\AppData\Roaming\Python\Python39\site-packages\pyattck\attck.py", line 263, in enterprise
    from .enterprise.enterprise import Enterprise
  File "blah\AppData\Roaming\Python\Python39\site-packages\pyattck\enterprise\__init__.py", line 1, in <module>
    from .

[2022-04-27 13:56] juancar1979 opened #105 "ValueError: too many values to unpack (expected 2)"
**Describe the bug**
The problem is with the Industroyer malware. It seems that the data_source used to get the info from it is not well formed. When doing a split it gives more than two values (the expected)
attack-datasources/network_traffic.yml at main - mitre-attack/attack-datasources

It happens since the last pyattack update.

![bug1](https://user-images.githubusercontent.com/5212618/1655346

[2022-04-28 19:59] MSAdministrator commented on #105
@juancar1979 I am unable to reproduce this - can you provide the code you used to reproduce this ?

I tried

[code]

[2022-05-03 15:47] juancar1979 commented on #105
attack = Attck()
malware_name = "Industroyer"
for malware in attack.ics.malwares:
    print(malware.name)
    if malware.name == malware_name:
        techMatrixICS = {}
        for technique in malware.techniques:
            tacticas = {}
            mitigations = {}

[2022-05-04 12:25] juancar1979 commented on #105
#

attack = Attck()
malware_name = "Industroyer"
for malware in attack.ics.malwares:
print(malware.name)
if malware.name == malware_name:
techMatrixICS = {}
for technique in malware.techniques:
tacticas = {}
mitigations = {}

[2022-05-05 10:28] caesarshift commented on #105
This code reproduces the stacktrace listed in this ticket:

[code]

The code on line 94 of `pyattck/ics/attckobject.py` assumes that the data item only contains 1 colon:

[code]

However, I'm seeing this present in an "item" variable:

`Network Traffic: Network Traffic Flow  [https://github.com/mitre-attack/attack-datasources/blob/main/contribution-ics/network_traffic.yml Network Traffic: Network

[2022-05-31 10:07] jonathanunderwood opened #107 "RFE: subscriptable properties"
**Is your feature request related to a problem? Please describe.**
When I am using this library I find myself doing a lot of this sort of thing:

[code]
or

[code]
etc. And similar for other lists of objects. I am aware of the ability to search, but that's quite heavy weight when I mainly just want to be able to subscript based on ATT&CK ID.

**Describe the solution you'd like**
It would be really

[2022-06-01 08:45] phantinuss opened #108 "Pyattck 5.4 not working with current data model"
Current pyattck 5.4 does not work in combination with the downloaded data model.
[code]

Steps to reproduce the behavior:
The error occurs during calling the `__get_actors_dataset` function of `actor.py`

**Expected behavior**
Data is returned so that the library code can handle it.

**Screenshots**
![image](https://user-images.githubusercontent.com/79651203/171364834-946cb532-0d12-4df5-8b86-fff20

[2022-06-01 09:17] phantinuss commented on #108
Update: In our code we have a hotfix now and overwrite the downloaded data with the one available on github:
[code]

[2022-06-06 15:43] MSAdministrator commented on #108
@phantinuss Sorry about that - I caused this and have since resolved it. Please let me know if this is *NOT* resolved

[2022-06-06 15:43] #108 closed

[2022-06-06 15:44] #104 closed

[2022-06-06 15:44] #105 closed

[2022-06-07 10:00] phantinuss opened #110 "Attack.enterprise.actors only returning 1 threat actor"
Minimal Example Code:
[code]
The returned object only consists of 1 entry:
[code]

If I download the json `https://swimlane-pyattck.s3.us-west-2.amazonaws.com/merged_enterprise_attck_v1.json` and query the data directly it should be 137:
[code]

[2022-06-07 10:43] jonathanunderwood commented on #107
@MSAdministrator am happy to provide an implementation of this, but want to avoid taking a direction that wouldn't be acceptable. Here's my current thinking:

- Create a decorator to add to all the properties that would take the result of the property method and creates a dict with keys being the object `id` fields.
- This decorator function would only do this if the `Attck` object had been instan

[2022-06-08 08:11] priamai opened #112 "PyAttack Data model"
**Describe the bug**
A link in the main page: [pyattck-data-models](https://github.com/swimlane/pyattck-data-models) is broken.

[2022-06-08 15:38] MSAdministrator commented on #112
@priamai this has been resolved.

[2022-06-08 15:38] #112 closed

[2022-06-08 15:39] MSAdministrator commented on #107
@jonathanunderwood Yeah that would be awesome and I like this approach as well. I would wait until #111 is merged though

[2022-06-09 19:34] priamai commented on #110
Yes +1 on this.

[2022-06-09 19:57] MSAdministrator commented on #110
@priamai I am actively working on fixing this - my apologies but it should be fixed today sometime

[2022-06-09 23:58] MSAdministrator commented on #110
Well it won’t be today but should be tomorrow.

[2022-06-13 10:01] brettforbes opened #113 "Integration with Mitre ATT&CK Loaded through OASIS Stix2"
Hi

I have recently built a Vaticle TypeDB DataStore for the OASIS Stix2 (https://github.com/oasis-open/cti-python-stix2), using a bi-directional Stix <-> TypeDB ORM. So, using Python one can simply add and retrieve Stix objects to/from TypeDB.

I aim to extend it to load the MITRE ATT&CK data, as shown by their documentation (https://github.com/mitre-attack/attack-stix-data/blob/master/USAGE.md).

[2022-06-13 20:04] MSAdministrator commented on #113
@brettforbes Hell Brett, not sure I'm 100% understanding your question but I am working on a data model for MITRE ATT&CK framework(s) which can be found here: https://github.com/swimlane/pyattck-data

Does this help?

[2022-06-19 22:07] priamai commented on #113
@MSAdministrator I think what he meant is that the pyattack-data library should provide also an interface to serialize/deserialize the pydantic objects into STIX2.1.
However I think the easiest solution will just be to consume the Generated Data Access which seems to be STIX2.1 compliant?

[2022-06-21 15:21] MSAdministrator commented on #113
@priamai okay, that makes sense.

You can utilize `attrs` to convert from objects to dict.

For example,

[code]

[2022-06-21 16:05] MSAdministrator commented on #113
@brettforbes Does this solve the issue you were thinking?

[2022-06-21 23:44] brettforbes commented on #113
fortunately i  have @priamai working with me, so he can explain it to me, sorry i am a bit slow on the uptake

[2022-06-22 00:15] MSAdministrator commented on #113
Ahh no worries! Attrs is weird to get use to but powerful! I believe what I provided should output a stix compliant dictionary which would then be written out to Json

[2022-06-22 07:29] Still34 opened #116 "Techniques Return Empty Tactics Array"
**Describe the bug**
The `Technique` object should return its associated `Tactics`, but at the moment it returns an empty array.

**To Reproduce**
Steps to reproduce the behavior:
1. Select any ATT&CK Enterprise technique
2. View the `Tactics` member associated with the technique
3. Empty results

**Expected behavior**
The technique should return its associated tactics.

**Screenshots**
![image](h

[2022-06-23 21:26] robomotic opened #117 "simple example sub technique exception"
Just running the first example:

<img width="609" alt="image" src="https://user-images.githubusercontent.com/315964/175405203-949dd58d-eee4-449f-bbae-f0250d42a463.png">

[2022-06-23 21:41] robomotic opened #118 "groups linkage to techniques"
**Is your feature request related to a problem? Please describe.**
I want an interface to pull the relationships between Groups and Techniques.

**Describe the solution you'd like**
For example on the MITRE website: https://attack.mitre.org/groups/G0016/
For each group there is a list of the techniques used.
I am not sure where those relationships are stored in STIX but would be nice to have an ob

[2022-06-29 16:42] MSAdministrator commented on #117
@robomotic This has changed but the test.py did not get updated properly.

It should be

[code]

[2022-07-01 06:19] priamai commented on #118
Actually my bad, looking at the data model this is perfect.

[code]

Closing now.

[2022-07-12 11:07] liavst2 commented on #116
Having the same issue, in version 6.1.2.

[2022-07-13 09:38] liavst2 opened #119 "Some mobile attack malwares are loaded with errors"
### Bug description

**_Version 5.4.0_** - Some malwares in `attck.mobile.malwares` array are loaded with errors. Fetching them leads to a process failure.
I can't upgrade to a higher version until a fix for [this](https://github.com/swimlane/pyattck/issues/116#issue-1279692919) issue is up.

### Steps to reproduce

1. In Python, fetch the `YiSpecter` mobile malware from the `pyattck.Attck().mobil

[2022-07-29 18:50] #118 closed

[2022-07-29 20:30] #113 closed

[2022-07-29 20:30] #116 closed

[2022-07-29 20:30] #117 closed

[2022-07-29 20:30] #119 closed

[2022-08-04 21:05] thebleucheese opened #121 "is_url almost always returns true so can't load JSON from disk"
Hey, I ran into a quirk trying to use JSON files from disk. Tracked it down to the is_url() function

[utils.py line 26](https://github.com/swimlane/pyattck/blob/454d4b2ed9c0b1ee956f3f36202ef40665a67e59/pyattck/utils/utils.py#L26)

Environment is ubuntu / poetry / python 3.8.10

Quick sample of testing just this function:

[code]

[code]

And since the configuration.py get_data() call uses the URL

[2022-08-04 21:17] thebleucheese commented on #121
And one more note - I get a stacktrace with `use_config=True`

[code]

Looks like use_config is trying to modify something set as immutable by attrs

[2022-08-07 18:16] jonathanunderwood opened #122 "Mitigations lack a Mitre Att&CK ID"
**Describe the bug**
`Technique` objects have a `technique_id` attribute which contaains the MITRE ID for the technique, but `Mitigation` objects currently lack a corresponding `mitigation_id` attribute.

[2022-08-09 14:34] jonathanunderwood commented on #122
Have fixed this internally. Just getting approval to push a PR to pyattck-data.

[2022-08-11 09:51] jonathanunderwood commented on #122
https://github.com/swimlane/pyattck-data/pull/57

[2022-08-24 19:45] MSAdministrator commented on #121
@thebleucheese Can you tell me which version you are seeing this on?

[2022-08-24 19:47] MSAdministrator commented on #121
@thebleucheese Actually, just found it and have a fix. Looking at the second thing you mentioned now.

[2022-08-24 20:01] MSAdministrator commented on #121
@thebleucheese Actually just figured that one out as well. This will be released in 7.0.0 #123

[2022-08-25 20:41] #121 closed

[2022-08-25 20:41] #122 closed

[2022-09-14 12:49] liavst2 opened #124 "Duplicated tactics in a technique"
### Bug Description

**Version 7.0.0**
Each Technique object holds duplicated tactics in the `tactics` attribute.

### Steps To Reproduce

1. Search for any technique, for example `Token Impersonation/Theft`
2. Observe the tactics list

### Expected behavior

Tactics list of a Technique should hold unique tactics.

### Screenshots

![pyattck](https://user-images.githubusercontent.com/18532875/1901

[2022-11-02 12:23] SilverJan opened #125 "TypeError: 'NoneType' object is not callable for basic example"
**Describe the bug**

When executing the basic example from https://pyattck.readthedocs.io/en/latest/ics/icsattck.html, an Exception is thrown.

**To Reproduce**

[code]

**Expected behavior**

No error

**Screenshots**

see logs above

**Desktop (please complete the following information):**

Ubuntu 20.04, python3

**Additional context**
Add any other context about the problem here.

[2022-11-02 14:40] kastellanos commented on #125
It seems like the past month was released a new STIX object. The campaigns https://attack.mitre.org/campaigns/

What I found is that is not yet implemented on the pyattck-data lib.
https://github.com/swimlane/pyattck-data/blob/e704a5c46d916ee3fb898b8c16902d8e7035fbe4/src/pyattck_data/attack.py#L27

[2022-11-07 17:26] Derekt2 commented on #125
is there a workaround?

[2022-11-09 10:10] driesbuyck commented on #125
A very dirty hack I put in just to get my scripts working for now is to comment out the 'raise re' on line 66 in the file site-packages/pyattck_data/attack.py and replace it with a print statement until the repo owner can put out a fix.
![image](https://user-images.githubusercontent.com/13899345/200802109-0071e0b4-1cbc-4857-8f2a-a7d01eaed073.png)

[2022-11-10 15:51] YehudaCorsia opened #126 "pre-ATT&CK is deprecated"
pre-ATT&CK is deprecated
https://github.com/mitre/cti/blob/master/pre-attack/README.md